{% extends "base.html" %}

{% block content %}
<div class="splash2">
        <div class="pure-g-r">
                    <div class="pure-u-1">
                            <div class="l-box splash-text">
                                        <div class="pure-u-1">
</div> </div> </div> </div> </div>
                                    <h2 class="splash-head2">Fale Conosco</h2>

    <p>Você pode entrar em contato conosco por e-mail ou pelas nossas redes sociais:</p>
        <ul>
            <li>E-mail: <a href="mailto:contato@evolutionsft.org">contato@evolutionsft.org</a></li>
            <li>Twitter: <a href="https://twitter.com/evolution">@evolution</a></li>
            <li>Facebook: <a href="https://facebook.com/evolutionsoftware">@evolutionsoftware</a></li>
        </ul>
    </div>
</div></p></p> 
{% endblock %}