{% extends "base.html" %}

{% block content %}
<div class="splash2">
        <div class="pure-g-r">
                    <div class="pure-u-1">
                            <div class="l-box splash-text">

</div> </div> </div> </div> 
    <div class="pure-u-1"><div class="div2">

             <p><h3>Inscreva-se já:</h3>

                <div class="l-box2"> </div> 
                            <form class="pure-form pure-form-stacked" method="post">
            {% csrf_token %}
            <fieldset>
                {{ form.non_field_errors }}

                {% for field in form %}
                <div class="pure-control-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Cadastrar</button>
                </div>
            </fieldset>
        </form></div>
</div>
</div>
{% endblock %}